doctype html
html(lang='en' ng-app='CarsModule')
    head
        title Cars
        base(href='/')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', id='theme_link', href='/vendor/cerulean-theme.min.css')

    body
        include ./navbar.jade
        div.container(ng-view)
        if DEBUG
            script(src='/bundle.js')
        else
            script(src='/bundle.min.js')
