nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        ul.nav.navbar-nav(active-link)
            li
                a(href='/') Home
            li
                a(href='/list') List
            li
                a(href='/car/create') Create
            li
                a(href='/car/update') Update
            li
                a(href='/car') Select
        ul.nav.navbar-nav.navbar-right
            li.theme-block
                a(href='#') Theme
                .theme-container
                    ul.theme-list(active-theme)
